<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="commonHead">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <meta charset="utf-8">
    <meta name="title" th:content="${metaTitle}">
    <title th:text="${metaTitle}"></title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">

    <!-- js -->
    <!-- <script src="@{https://code.jquery.com/jquery-3.5.0.min.js}"></script>-->
    <script th:src="@{/assets/js/jquery/jquery-3.5.0.min.js}"></script>
    <script th:src="@{/assets/js/jquery/jquery-ui.min.js}" ></script>

    <script th:src="@{/assets/js/libs/vue.2.6.12.js}"></script>
    <script th:src="@{/assets/js/libs/axios.min.js}"></script>

    <!-- css -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.1/dist/bootstrap-table.min.css">
    <script src="https://unpkg.com/bootstrap-table@1.18.1/dist/bootstrap-table.min.js"></script>
    <link rel="stylesheet" th:href="@{/assets/css/common/custom-ui.css}" />

</th:block>
</html>
